body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/luxhouse.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: #016b1f;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
  }

  .header a {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    }
  
  .dashboard-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
    .dashboard-content {
    text-align: center;
    margin-top: 50px; /* Adjust top margin as needed */
    }

    .search-bar {
        text-align: center;
        margin-bottom: 20px; /* Adjust bottom margin as needed */
    }

  .welcome-message {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .house-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 

  }
  
  .card {
    width: calc(33.33% - 20px);
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    transform: scale(1) rotateY(0);
    transition: transform 0.5s ease-in-out; 
    box-shadow: 0 7px 10px rgb(0, 0, 0)
  }
  
  .card:hover {
    animation: rotateOnce 1s forwards;
    transform-origin: center center; /* Set the rotation origin to the center of the card */
}

@keyframes rotateOnce {
  100% {
    transform: scale(1.05) rotateY(360deg); /* Rotate 360 degrees on hover */
  }
}
  .house-image {
    overflow: hidden;
    height: 300px; 

  }
  
  .house-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .house-name {
    padding: 10px;
    text-align: center;
    background-color: #016b1f;
    color: #fff;
    font-weight: bold;
  }
  .footer {
    text-align: center;
    margin-top: 20px;
}
  